@page
@model ToDo.Pages.AddWorkModel
@{
	ViewData["Title"] = "Add new work";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="row">
	<div class="col-md-6 offset-3">
		<form method="post">
			<div class="mb-3">
				<label for="title" class="form-label">Title*</label>
				<input name="Name" type="text" class="form-control" id="title" placeholder="Job title" />
				<span asp-validation-for="@Model.Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description*</label>
				<textarea name="Description" class="form-control" id="description" rows="3"></textarea>
			</div>

			<button type="submit" class="btn btn-success">Add Work</button>
		</form>
	</div>
</div>
