@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5 pt-5">
    <h1 class="display-4">To - Do</h1>
</div>
<div class="text-center mt-5">
    <h4>A simple app to maintain your own <b>To - Do list</b>.</h4>
    <h4>Be organized !</h4>
</div>
<div class="text-center mt-5">
    <a href="/Works"><button class="btn btn-success">Let's Go</button></a>
</div>
